@theme {
  /* ------------------------------------------------- */
  /*                        Base                       */
  /* ------------------------------------------------- */
  /* #region containers */
  --max-width-container: 1280px;
  --max-width-container-sm: 640px;
  --max-width-container-md: 768px;
  --max-width-container-lg: 896px;
  --max-width-container-xl: 1024px;
  /* #endregion */
  /* #region shadows */
  --shadow-xs: 0px 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -2px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0px 12px 16px -4px rgba(0, 0, 0, 0.08), 0px 4px 6px -2px rgba(0, 0, 0, 0.03), 0px 2px 2px -1px rgba(0, 0, 0, 0.04);
  --shadow-xl: 0px 20px 24px -4px rgba(0, 0, 0, 0.08), 0px 8px 8px -4px rgba(0, 0, 0, 0.03), 0px 3px 3px -1.5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0px 24px 48px -12px rgba(0, 0, 0, 0.18), 0px 4px 4px -2px rgba(0, 0, 0, 0.04);
  --shadow-3xl: 0px 32px 64px -12px rgba(0, 0, 0, 0.14), 0px 5px 5px -2.5px rgba(0, 0, 0, 0.04);
  --shadow-skeuomorphic: inset 0 1.5px 1px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.25);
  --shadow-xs-skeuomorphic: inset 0 1px 0.5px rgba(255, 255, 255, 0.35), inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  --shadow-modern-mockup-inner-lg: 0px 0px 3.765px 1.255px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.51px 1.255px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-md: 0px 0px 1.692px 0.564px rgba(10, 13, 18, 0.08) inset, 0px 0px 1.128px 0.564px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-inner-sm: 0px 0px 4.48px 1.493px rgba(10, 13, 18, 0.08) inset, 0px 0px 2.987px 1.493px rgba(10, 13, 18, 0.03) inset;
  --shadow-modern-mockup-outer-lg: 0px 7.529px 10.039px -2.51px rgba(10, 13, 18, 0.08), 0px 2.51px 3.765px -1.255px rgba(10, 13, 18, 0.03), 0px 1.255px 1.255px -0.627px rgba(10, 13, 18, 0.04);
  --shadow-modern-mockup-outer-md: 0px 3.385px 4.513px -1.128px rgba(10, 13, 18, 0.08), 0px 1.128px 1.692px -0.564px rgba(10, 13, 18, 0.03), 0px 0.564px 0.564px -0.282px rgba(10, 13, 18, 0.04);
  --drop-shadow-iphone-mockup: 20px 12px 18px rgba(16, 24, 40, 0.2);
  /* #endregion */
  /* #region default-colors */
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-snow: oklch(0.9911 0 0);
  --color-eclipse: oklch(0.2103 0.0059 285.89);

  /* brand */
  --color-brand: oklch(0.6204 0.195 253.83);
  --color-brand-foreground: var(--color-snow);
  --color-brand-hover: oklch(0.6575 0.1755 253.8249);
  --color-brand-alt: oklch(0.94 0.03 245.17);
  --color-brand-alt-foreground: var(--color-brand);
  --color-brand-alt-hover: oklch(0.6204 0.195 253.8254 / 0.2);
  /* default */
  --color-default: oklch(0.94 0.001 286.373);
  --color-default-foreground: var(--color-eclipse);
  --color-default-hover: oklch(0.9108 0.0012 286.1439);
  /* success */
  --color-success: oklch(0.7329 0.1935 150.81);
  --color-success-foreground: var(--color-eclipse);
  --color-success-hover: oklch(0.6806 0.1737 150.944);
  --color-success-alt: oklch(0.95 0.03 161.38);
  --color-success-alt-foreground: var(--color-success);
  --color-success-alt-hover: oklch(0.7329 0.1935 150.8066 / 0.2);
  /* warning */
  --color-warning: oklch(0.7819 0.1585 72.3301);
  --color-warning-foreground: var(--color-eclipse);
  --color-warning-hover: oklch(0.7247 0.1422 72.2032);
  --color-warning-alt: oklch(0.97 0.03 80.58);
  --color-warning-alt-foreground: var(--color-warning);
  --color-warning-alt-hover: oklch(0.7819 0.1585 72.3344 / 0.2);
  /* error */
  --color-error: oklch(0.6532 0.2328 25.7401);
  --color-error-foreground: var(--color-snow);
  --color-error-hover: oklch(0.687 0.2095 25.7462);
  --color-error-alt: oklch(0.93 0.03 15.48);
  --color-error-alt-foreground: var(--color-error);
  --color-error-alt-hover: oklch(0.6532 0.2328 25.7455 / 0.2);
  /* info */
  --color-info: oklch(0.6204 0.195 302.83);
  --color-info-foreground: var(--color-snow);
  --color-info-hover: oklch(0.6575 0.1755 302.8249);
  --color-info-alt: oklch(0.94 0.03 302.17);
  --color-info-alt-foreground: var(--color-info);
  --color-info-alt-hover: oklch(0.6204 0.195 302.8254 / 0.2);
  /* #endregion */
}

@layer base {
  /* ------------------------------------------------- */
  /*              @nullwa/ui - light theme             */
  /* ------------------------------------------------- */
  :root,
  .light-mode,
  [data-theme='light-mode'] {
    color-scheme: light;
    /* brand */
    --color-brand: oklch(0.6204 0.195 253.83);
    --color-brand-foreground: var(--color-snow);
    --color-brand-hover: oklch(0.6575 0.1755 253.8249);
    --color-brand-alt: oklch(0.94 0.03 245.17);
    --color-brand-alt-foreground: var(--color-brand);
    --color-brand-alt-hover: oklch(0.6204 0.195 253.8254 / 0.2);
    /* default */
    --color-default: oklch(0.94 0.001 286.373);
    --color-default-foreground: var(--color-eclipse);
    --color-default-hover: oklch(0.9108 0.0012 286.1439);
    /* success */
    --color-success: oklch(0.7329 0.1935 150.81);
    --color-success-foreground: var(--color-eclipse);
    --color-success-hover: oklch(0.6806 0.1737 150.944);
    --color-success-alt: oklch(0.95 0.03 161.38);
    --color-success-alt-foreground: var(--color-success);
    --color-success-alt-hover: oklch(0.7329 0.1935 150.8066 / 0.2);
    /* warning */
    --color-warning: oklch(0.7819 0.1585 72.3301);
    --color-warning-foreground: var(--color-eclipse);
    --color-warning-hover: oklch(0.7247 0.1422 72.2032);
    --color-warning-alt: oklch(0.97 0.03 80.58);
    --color-warning-alt-foreground: var(--color-warning);
    --color-warning-alt-hover: oklch(0.7819 0.1585 72.3344 / 0.2);
    /* error */
    --color-error: oklch(0.6532 0.2328 25.7401);
    --color-error-foreground: var(--color-snow);
    --color-error-hover: oklch(0.687 0.2095 25.7462);
    --color-error-alt: oklch(0.93 0.03 15.48);
    --color-error-alt-foreground: var(--color-error);
    --color-error-alt-hover: oklch(0.6532 0.2328 25.7455 / 0.2);
    /* info */
    --color-info: oklch(0.6204 0.195 302.83);
    --color-info-foreground: var(--color-snow);
    --color-info-hover: oklch(0.6575 0.1755 302.8249);
    --color-info-alt: oklch(0.94 0.03 302.17);
    --color-info-alt-foreground: var(--color-info);
    --color-info-alt-hover: oklch(0.6204 0.195 302.8254 / 0.2);
  }
  /* ------------------------------------------------- */
  /*              @nullwa/ui - dark theme              */
  /* ------------------------------------------------- */
  .dark-mode,
  [data-theme='dark-mode'] {
    color-scheme: dark;
    /* brand */
    --color-brand: oklch(0.6204 0.195 253.83);
    --color-brand-foreground: var(--color-snow);
    --color-brand-hover: oklch(0.6575 0.1755 253.8249);
    --color-brand-alt: oklch(0.27 0.05 250.96);
    --color-brand-alt-foreground: var(--color-brand);
    --color-brand-alt-hover: oklch(0.6204 0.195 253.8254 / 0.2);
    /* default */
    --color-default: oklch(0.274 0.006 286.0339);
    --color-default-foreground: var(--color-snow);
    --color-default-hover: oklch(0.3027 0.0058 286.0235);
    /* success */
    --color-success: oklch(0.7329 0.1935 150.81);
    --color-success-foreground: var(--color-eclipse);
    --color-success-hover: oklch(0.6806 0.1737 150.944);
    --color-success-alt: oklch(0.29 0.04 163.34);
    --color-success-alt-foreground: var(--color-success);
    --color-success-alt-hover: oklch(0.7329 0.1935 150.8066 / 0.2);
    /* warning */
    --color-warning: oklch(0.8203 0.1388 76.3401);
    --color-warning-foreground: var(--color-eclipse);
    --color-warning-hover: oklch(0.7593 0.1244 76.211);
    --color-warning-alt: oklch(0.31 0.03 71.77);
    --color-warning-alt-foreground: var(--color-warning);
    --color-warning-alt-hover: oklch(0.8203 0.1388 76.3447 / 0.2);
    /* error */
    --color-error: oklch(0.594 0.1967 24.63);
    --color-error-foreground: var(--color-snow);
    --color-error-hover: oklch(0.6337 0.177 24.6366);
    --color-error-alt: oklch(0.26 0.04 11.89);
    --color-error-alt-foreground: var(--color-error);
    --color-error-alt-hover: oklch(0.594 0.1967 24.6357 / 0.2);
    /* info */
    --color-info: oklch(0.6204 0.195 302.83);
    --color-info-foreground: var(--color-snow);
    --color-info-hover: oklch(0.6575 0.1755 302.8249);
    --color-info-alt: oklch(0.27 0.05 302.96);
    --color-info-alt-foreground: var(--color-info);
    --color-info-alt-hover: oklch(0.6204 0.195 302.8254 / 0.2);
  }
}
